*{margin: 0;padding: 0; list-style: none;font-size: 12px;}

a{clear: both;display: block;white-space:nowrap;padding: 5px;
	color: #fff;}
a:hover{text-decoration: none;}

.r_main{width:200px;background: #008CD6;}
.r_main li{color:#fff;height: 30px; line-height: 30px;}

.r_subMenuList{ display: none; background: #008CD6;}
.r_subMenuList li{color:#fff;}

.r_subMenuList2{ display: none;background: #008CD6;width: 200px;}
.r_subMenuList2 li{color:#fff;}

.r_result{width:170px;height:30px;line-height: 30px; background: #f1f1f1;margin:0;}

b{color:#000;}